*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
body{
    width: 1600px;
    margin: 0 auto;
}
/* Nabigation Bar Style*/
/* logo style */
.unic{
    color: #FB09B4;
}
h1{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    margin-left: 200px;
}
/* menu style */
.navbar{
    display: flex;
    justify-content: space-between;
    width: 1600px;
    height: 92px;
    margin: 0 auto;
    padding: 24px;
    background-color: #1A0B2E;
}
.menu a{
    text-decoration: none;
}
.menu ul{
    list-style: none;
}
.content{
    display: flex;
    gap: 32px;
}
/* button style */
.btn{
    border: none;
    color: #FFFFFF;
    margin-right: 200px;
    width: 135px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    border-radius:  10000px;
    background: linear-gradient(#FB09B4, #9100F8, #F7E93F);
}
/* box-1 */
.audio{
    background-image: url(./assets/hero-bg.png);
    height: 760px;
}

