*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
body{
    width: 1600px;
    margin: 0 auto;
}
/* Nabigation Bar Style*/
/* logo style */
.unic{
    color: #FB09B4;
}
h1{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    margin-left: 200px;
}
/* menu style */
.navbar{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    width: 1600px;
    height: 92px;
    margin: 0 auto;
    padding: 24px;
    background-color: #1A0B2E;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}
.menu a{
    text-decoration: none;
}
.menu ul{
    list-style: none;
}
.content{
    margin-top: 10px;
    display: flex;
    gap: 32px;
}
.content a{
    color: #FFFFFF;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}

/* button style */
.btn{
    border: none;
    color: #FFFFFF;
    margin-right: 200px;
    width: 135px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    border-radius:  10000px;
    cursor: pointer;
    background: linear-gradient(#FB09B4, #9100F8, #F7E93F);
}
/* Banner section */
/* box-1 */
.banner{
    background-image: url(./assets/hero-bg.png);
    width: 100%;
    height: 760px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}
.banner-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-content{
    width: auto;
    flex-direction: column;
    display: flex;
    text-align: center;
    align-items: center;
}
.banner-image{
    position: relative;
    width: 350px;
    height: 350px;
}
.bg-img{
    width: 100%;
    display: block;
}
.center-img{
    height: 175px;
    width: 116.67px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* New */
.new{
    background-color: #00FF88;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
    color: black;
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 1.2rem;
    font-weight: 600;
    width: 75px;
    height: 38px;
    box-shadow: 0px 0px 8px 2px #00FF88;
}
/*Banner Title */
.title h3{
    font-size: 3.75rem;
    color: #FFFFFF;
    font-weight: 800;
    margin: 40px 0 0;
}
.title p{
    font-size: 1rem;
    font-weight: 300;
    color: white;
    margin: 8px 0;
    opacity: 80%;
}
/* Banner Button */
.btn-1{
    background: linear-gradient(#FB09B4, #9100F8, #F7E93F);
    width: 180px; 
    height: 44px;
    font-size: 1rem;  
    font-weight: 500;
    color: #FFFFFF; 
    border: none;  
    border-radius: 10000px; 
    padding: 12px 16px; 
    cursor: pointer;                 
}
.btn-2{
    background: transparent;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    color: #00FF88;
    font-size: 1rem;
    font-weight: 500;
    width: 147px;
    height: 44px;
    margin-left: 8px;
    cursor: pointer;
}
/* About section */
.about{
    /* border: 2px solid red; */
    background-color: #1A0B2E;
    width: 100%px;
    height: 647px;
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    margin-bottom: 80px;
    margin-top: 50px;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}
.about-content .text{
    width: auto;
    flex-direction: column;
    display: flex;
    text-align: center;
    align-items: center;
}
 .about-content .text{
    width: 1200px;
    height: 222px;
 }
 .about-content .text h3{
    color: #FFFFFF;
    font-family: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
 }
 .about-content .text p{
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
 }
 /* About card */
 .about-card{
    text-align: center;
    gap: 80px;
    width: 1200px;
    height: 95px;
    margin-top: 80px;
    margin-bottom: 120px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
 }
 
 .card h4{
    color: #00FF88;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
 }
 .card h3{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
 }
 /* Choose Techwave */

.tech-wave{
    background-color: #230E3D;
    width: 1600px;
    height:900px;
}
.container>*{
    background-color: #351165;
    padding: 30px;
    color: #FFFFFF;
    border-radius: 15px;

}

.grid-title{
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 3rem;
}
#sidebar{
    grid-area: sidebar;
}
main{
    grid-area: main;
}
#location{
    grid-area: location;
}
#resource{
    grid-area: resource;
}
footer{
    grid-area: footer;
}
.container{
    margin: 0 auto;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 120px;
    display: grid;
    gap: 30px;
    grid-template-areas: 
    "sidebar main main main"
    "sidebar location location location"
    "footer footer footer resource";
}
/* Featured EPISODE */
.featured{
    background-color: #1A0B2E;
    width: 1600px;
    height: 1276px;
}
