*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
body{
    width: 1600px;
    margin: 0 auto;
}
/* Nabigation Bar Style*/
/* logo style */
.unic{
    color: #FB09B4;
}
h1{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    margin-left: 200px;
}
/* menu style */
.navbar{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    width: 1600px;
    height: 92px;
    margin: 0 auto;
    padding: 24px;
    background-color: #1A0B2E;
}
.menu a{
    text-decoration: none;
}
.menu ul{
    list-style: none;
}
.content{
    margin-top: 10px;
    display: flex;
    gap: 32px;
}
.content a{
    color: #FFFFFF;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}

/* button style */
.btn{
    border: none;
    color: #FFFFFF;
    margin-right: 200px;
    width: 135px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    border-radius:  10000px;
    cursor: pointer;
    background: linear-gradient(#FB09B4, #9100F8, #F7E93F);
}
/* Banner section */
/* box-1 */
.banner{
    background-image: url(./assets/hero-bg.png);
    width: 100%;
    height: 760px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}
.banner-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-content{
    width: auto;
    flex-direction: column;
    display: flex;
    text-align: center;
    align-items: center;
}
.banner-image{
    position: relative;
    width: 350px;
    height: 350px;
}
.bg-img{
    width: 100%;
    display: block;
}
.center-img{
    height: 175px;
    width: 116.67px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* New */
.new{
    background-color: #00FF88;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
    color: black;
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 1.2rem;
    font-weight: 600;
    width: 75px;
    height: 38px;
    box-shadow: 0px 0px 8px 2px #00FF88;
}
/*Banner Title */
.title h3{
    font-size: 3.75rem;
    color: #FFFFFF;
    font-weight: 800;
    margin: 40px 0 0;
}
.title p{
    font-size: 1rem;
    font-weight: 300;
    color: white;
    margin: 8px 0;
    opacity: 80%;
}
/* Banner Button */
.btn-1{
    background: linear-gradient(#FB09B4, #9100F8, #F7E93F);
    width: 180px; 
    height: 44px;
    font-size: 1rem;  
    font-weight: 500;
    color: #FFFFFF; 
    border: none;  
    border-radius: 10000px; 
    padding: 12px 16px; 
    cursor: pointer;                 
}
.btn-2{
    background: transparent;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    color: #00FF88;
    font-size: 1rem;
    font-weight: 500;
    width: 147px;
    height: 44px;
    margin-left: 8px;
    cursor: pointer;
}